.KateContainer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5% 20%;
    gap: 20px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .KateContainer {
        padding: 10% 20%;
    }
}