.container {
    background-color: #0a0a0a;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons > li {
    list-style: none;
    padding-left: 30px;
}

.socialIcons > li > img {
    width: 25px;
    cursor: pointer;
}

/*********************************************************/
.socialTexts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.socialTexts > li {
    list-style: none;
    padding-right: 30px;
    font-size: calc(0.5rem + 0.5vw);
    cursor: pointer;
}

.liLinks {
    color: white;
    text-decoration: none;
}

.socialTexts > li:first-child {
    color: #4D4A3C;
}

.liLinks:hover {
    color: #4D4A3C;
    transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}

#burger {
    font-size: 30px;
    padding-right: 30px;
    cursor: pointer;
    display: none;
}

.navMobile {
    position: absolute;
    top: 80px;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #191923;
    color: white;
    display: none;
}

.navText {
    cursor: pointer;
    padding: 15px;
}

.first {
    color: #4D4A3C;
}

@media only screen and (max-width: 1300px) {
    .socialTexts > li {
        font-size: calc(0.8rem + 0.5vw);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        justify-content: space-between;
    }
    #burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .liText {
        display: none;
    }
}