.WasPlanetCamora {
    background-color: #0a0a0a;
    width: 100%;
    height: auto;
    color: white;
}

.WasPlanetCamoraWrapper {
    margin: auto;
    width: 80%;
    padding: 10%;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.WasPlanetSecondBox {
    padding-left: 10%;
}

.WasPlanetSecondBox > p {
    padding-top: 5%;
    color: #999;
}

.WasPlanetSecondBox > h2 > span {
    color: #A5916D;
}

.WasPlanetSecondBox > div {
    margin-top: 5%;
}

@media only screen and (max-width: 1300px) {
    .WasPlanetCamoraWrapper {
        width: 80%;
        padding: 10% 2%;
    }
}

@media only screen and (max-width: 1060px) {
    .WasPlanetCamoraWrapper {
        display: block;
        text-align: center;
    }
    .WasPlanetSecondBox {
        padding-top: 5%;
        padding-left: 0%;
    }
}

@media only screen and (max-width: 900px) {
    .WasPlanetSecondBox {
        padding-top: 5%;
        padding-left: 0%;
    }
    .WasPlanetFirstBox > img{
        width: 80%;
    }
}



