.WasPlanetCamora {
    background-color: #0a0a0a;
    width: 100%;
    height: auto;
    color: white;
}

.WasPlanetCamoraWrapper {
    margin: auto;
    max-width: 80%;
    padding: 10%;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.WasPlanetSecondBox {
    padding-left: 10%;
}

.WasPlanetSecondBox > p {
    padding-top: 5%;
}

.WasPlanetSecondBox > h2 > span {
    color: #A5916D;
}

.WasPlanetSecondBox > div {
    margin-top: 5%;
}