.startseiteStart {
    background: url("../PlanetCamoraBilder/planetWallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.startseiteContainer {
    display: flex;
    padding: 8% 15%;
    justify-content: space-evenly;
}

.boxLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.boxLinks > p {
    line-height: 30px;
    color: white;
    margin-top: 2%;
}

.boxLinks > img {
    min-width: 70%;
}

.boxRechts > img {
    height: 100%;
    max-width: auto;
}

.allButtons {
    margin-top: 2%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.button {
    background-color: none;
    display: inline-block;
    height: 60px;
    min-width: 200px;
    text-align: center;
    line-height: 60px;
    border-radius: 35px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: white;
    transition: all 0.7s ease;
    color: #C1A473;
}

@media only screen and (max-width: 1300px) {
    .allButtons {
        display: block;
    }
}

@media only screen and (max-width: 1060px) {
    .startseiteContainer {
        display: block;
        margin: auto;
        padding: 10% 10%;
    }
    .button {
        font-size: 15px;
    }
    .boxLinks {
        text-align: center;
        width: 100%;
    }
    .boxLinks > img {
        width: 60%;
        margin: auto;
    }
    .boxLinks > p {
        font-size: 15px;
    }
    .boxRechts > img {
        width: 70%;
        margin-top: auto;
        padding: auto;
    }
    .boxRechts {
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .boxRechts > img {
        display: none;
    }
    .boxLinks > p {
        margin-top: 5%;
    }
    .allButtons {
        margin-top: 5%;
    }
}