.VorteileOGNftContent > p > a {
    color: #A5916D;
    text-decoration: none;
}

.VorteileOGNftContainer {
    text-align: center;
    width: 100%;
    background-color: black;
    color: #999;
}

.VorteileOGNftContent {
    padding: 8% 10% 1% 10%;
    width: 80%;
    margin: auto;
}

.VorteileOGNftContent > h2 {
    color: white;
}

.VorteileOGNftContent > p {
    margin: 2% 0% 5% 0%;
}


.VorteileOGNftContent > div {
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 25px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
    .VorteileOGNftContent > p {
        margin: 10% 0%;
    }
    .VorteileOGNftContent {
        padding: 10% 5% 3% 5%;
        width: 100%;
    }
}